<ion-header>
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="animate__animated animate__backInLeft">
	<ion-avatar>
		<img src="assets/img/IMG_20180314_094518_110.jpg" alt="foto de Dagmar Mpheio">
	</ion-avatar>
    <ion-card-header>
      <ion-card-subtitle>2021</ion-card-subtitle>
      <ion-card-title>Criado por <b>Dagmar Mpheio</b></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Ratione vero doloremque eum dolore recusandae quis quaerat cumque at, omnis, necessitatibus magnam voluptas
      voluptatibus?
      Ipsum earum ratione officiis deleniti, explicabo facere.
    </ion-card-content>
  </ion-card>
</ion-content>
